* { box-sizing: border-box; }

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 100%;
    color: #fff;
    background-color: #3D3F4A;
    margin: 0;
}

#container {
    margin: 2em auto;
    max-width: 800px;
    padding: 2em 4em;
    background-color: #555864;
    overflow: auto;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 3em;
    color: #000;
    margin: 0;
    padding: 0.5em 0;
}

p, li {
    font-size: 1em;
    line-height: 1em;
}

a {
    color: #009;
    text-decoration: none;
}

a:hover {
    color: #0cc;
    text-decoration: underline;
}

@media (max-width: 800px) {
    body {
        background: #fff;
    }
    #container {
        margin: 0;
        width: 100%;
    }
    h1 {
        padding: 0 0 0.3em 0;
    }
}
